.bitcoin {
    background-color: #f2a900 !important;
}
.ethereum {
    background-color: #3c3c3d !important;
}
.ripple {
    background-color: #006097 !important;
}
.bitcoincash {
    background-color: #ee8c28 !important;
}
.cardano {
    background-color: #333333 !important;
}
.lightcoin {
    background-color: #d3d3d3 !important;
}
.stellar {
    background-color: #04b5e5 !important;
}